.input_div{
    margin:20px 0 0 20px;
    height: 100%;
    width:100%;

}

.input-form{
    display:flex;
    margin-left:10px;

}

.input_button{
    margin-left:5px;
    background-color: red;
    border-radius: 7px;
    width:auto;
    cursor:pointer;
}

