.image-div{
    margin:30px auto;
    width:950px;
    height:240px;
}

.image{
    justify-content: center;
    width:250px;
    height:auto;
    border:3px solid red;

}

.button-image{
    
    margin-bottom:40%;
}